<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Nucletide analysis script written in biopython</title>
        <link rel="stylesheet" href="static/css/styles.css" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<script src="http://code.angularjs.org/1.3.9/angular.min.js"></script>
		<script type="text/javascript">
	/* <![CDATA[ */
	(function() {
    		var s = document.createElement('script');
    		var t = document.getElementsByTagName('script')[0];

    		s.type = 'text/javascript';
    		s.async = true;
    		s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

    		t.parentNode.insertBefore(s, t);
 	})();
	/* ]]> */
	</script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59793904-1', 'auto');
  ga('send', 'pageview');

	</script>
    </head>
    <body>
    <h2>About</h2>
	<p class="narrow">This simple application allows you to find the nucleotide sequences
	 in FASTA files aquired from <a href="http://www.ncbi.nlm.nih.gov/">NCBI</a>
	Let us assume that you are looking for SNPs in the gene sequence of 
	<a href="http://www.ncbi.nlm.nih.gov/nuccore/M55158.1">bovine beta casein</a>
	(10338 bp). First you have to download desired sequence as FASTA file (on NCBI site ->
	Send -> Choose file destination -> Format FASTA) and upload it on this site. Then enter
	search SNP sequence (eg. AAAGCGGGTTAA). Script will search SNP sequence through 10338
	nucleotides and tell where could you find it. If there is no SNP in FASTA file script
	will return: <strong>Not found</strong>. Moreover it will serch for reverse complement sequence to desired SNP
	</p>
	<h1>Start new search</h1>
	<form action="" method=post enctype=multipart/form-data>
	    <h4>Load fasta file: <input type="file" name="file" required></h4>
	    <h4>Enter the search sequence: <input type="text" name="search_item"></h4>
	<input type=submit value=Start></br>

	<h3>If you like it please donate :)</h3>
	<script id='fbreosw'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=dziq&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbreosw');</script>
	</form>
    </body>
</html>

